<h2>Game</h2>

<p>This is a game</p>

Clicking  <button id="shake-it" type="button" class="btn btn-default" data-bind="click:shakeIt"> Shake it </button> gives you 5 random letters.
You need to form a word or many words using some or all the letters.




<h3 data-bind="foreach:letters">
	<button class="btn btn-default" data-bind="text:$data,click:$parent.addLetter.bind($parent)"> </button>

</h3>

<button id="make-word" type="button" class="btn btn-default" data-bind="visible:showGameBtn"> Make Word </button>
<button type="button" class="btn btn-default" data-bind="visible:showGameBtn"> Reset </button>



<div data-bind="visible:showWordList">
<ul class="list-group"  data-bind="foreach:words">
	<li class="list-group-item"  data-bin="text:$data">
</ul>
</div>
